body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    color: black;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 105%;
    color: #333;
}
pre {
    display:block;
    padding:9.5px;
    margin:0 0 10px;
    font-size:13px;
    line-height:1.428571429;
    word-break:break-all;
    word-wrap:break-word;
    color:#2e2e2e;
    background-color:#fafafa;
    border:1px solid #e5e5e5;
    border-radius:3px
}
code {
    font-family: monospace;
    padding:2px 4px;
    font-size:90%;
    color:#c0341d;
    background-color:#fcedea;
    border-radius:3px
}

@note {
    font-family: monospace;
    padding:2px 4px;
    font-size:90%;
    color:#c0341d;
    background-color:#fcedea;
    border-radius:3px
}

@note @text {
    color:#c0341d;
    border-radius:3px;
    font-size: 105%;
}

@warning {
    color:red;
}

pre code {
    padding:0;
    font-size:inherit;
    color:inherit;
    white-space:pre-wrap;
    background-color:transparent;
    border-radius:0
}

p {
    padding-left: 2em;
    font-size: 90%;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #444;
}
h1, h2, h3, h4, h5 { font-family: sans-serif;
                     font-weight: bold;
                     color: #444; }
h1 {
        font-size: 130%;
}

h2 {
        font-size: 110%;
}

h3 {
        font-size: 105%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 105%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }
